.content_two_wrapper_servises {
  background: white;
}

.content_two_left_servises {
  max-width: 659px;
}

.content_two_list_item {
  list-style-type: disc;
  font-size: 14px;
  line-height: 25px;
  color: #424242;
}

.content_two_list {
  padding: 25px 0 35px 20px;
}

.content_two_a {
  padding: 12px 90px 13px 34px;
  border: solid black 1px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(../images/about_company/Arrow.png);
  background-repeat: no-repeat;
  background-position: 80% 50%;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
}

.content_two_image_block {
  width: 423px;
  height: 339px;
  position: relative;
  border: solid 2px #e2e2e2;
}

.content_two_img {
  position: absolute;
  top: -23px;
  left: 27px;
}

.content_two_img_two{
  top: 28px;
  left: -73px;
}

.content_two_img_three {
  top: 28px;
}

.content_two_img_four {
  top: 25px;
  left: -71px;
}
