.layout_footer {
  flex-shrink: 0;
  border-top: 0.5px solid #D9D9D9;
  margin-top: 57px;
  padding-top: 60px;

  @media (max-width: 1024px) {
    & {
      padding-top: 40px;
    }
  }

  @media (max-width: 321px) {
    & {
      padding-top: 30px;
    }
  }
}

.region_footer {}

.footer {
  display: flex;
  margin: 0 auto;
  flex: 0 0 auto;
}

.region_footer a {
  text-decoration: none;
}

.region_footer a:hover {
  color: #494949;
  text-decoration: underline;
  transition: 0.5s;
}

.footer_column_one {
  margin-right: 61px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.footer_logo {
  display: block;
  padding-bottom: 22px;
}

.footer_about_us {
  display: block;
  margin-bottom: 45px;
  color: black;
}

.footer_info {
  padding-left: 32px;
  font-size: 12px;
}

.footer_info_contacts {
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

.footer_info_nav {
  margin-bottom: 20px;
}

.footer_info_nav a {
  color: #858585;
}

.footer_adress {
  display: block;
  position: relative;
  max-width: 200px;
  line-height: 17px;
}


.footer_info_nav {
  position: relative;
  .icon {
    position: absolute;
    top: 0;
    left: -30px;
    font-size: 16px;

    &-location {
      font-size: 24px;
      margin-left: -5px;
    }
  }
}

.footer_navigation {
  @media (max-width: 1024px) {
    margin: auto;
  }
}

.footer_columns {
  max-width: 703px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 41px;

  @media (max-width: 1024px) {
    display: flex;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-right: 0;
    //align-items: center;
  }
}

.footer_pro, .footer_sale_item, .footer_cont {
  display: block;
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.footer_cont {
  @media (max-width: 1024px) {
    display: none;
  }
}

.wrapper_project_sale {
  margin-right: 100px;

  @media (max-width: 1024px) {
    order: 1;
    margin-right: 0;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.footer_column_two {
  display: inline-block;
  margin-right: 100px;
  @media (max-width: 1024px) {
    margin-right: 50px;
  }
}

.footer_column_tree {
  display: inline-block;

  @media (max-width: 768px) {
    max-width: 130px;
    line-height: 17px;
  }
}

.footer_column_four {
  order: 0;

  @media (max-width: 1024px) {
    margin-right: 50px;
  }

  @media (max-width: 768px) {
    margin-left: 20px;
  }
}

.footer_menu_item {
  display: block;
  color: #858585;
  font-size: 14px;
  margin-bottom: 17px;
}

.footer_social {
  display: block;
  position: relative;
  color: #858585;
  font-size: 12px;
  margin-bottom: 17px;
  padding-left: 32px;
}

.footer_contacts_nav {
  .icon {
    position: absolute;
    left: -2px;
    font-size: 16px;
    width: 20px;
    text-align: center;

    &-vk {
      font-size: 12px;
    }
  }

}

.footer_buttons {
  display: inline-block;
  margin-bottom: 80px;

  @media (max-width: 1024px) {
    margin-bottom: 0;
  }
}

.footer_button {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  height: 53px;
  line-height: 17px;
  font-size: 12px;
  color: #A1A1A1;
  border: 1px solid #A1A1A1;
  box-sizing: border-box;
  border-radius: 50px;
  width: 200px;
  margin-right: 65px;

  svg, .icon {
    margin-right: 12px;
  }

  @media (max-width: 1024px) {
    margin-right: 21px;
  }

  @media (max-width: 768px) {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.footer_button:hover {
  text-decoration: underline;
  .icon {
    text-decoration: none;
  }
}

.feedback .icon {
  font-size: 28px;
}

.site-create {
  margin: auto;
  font-size: 12px;
  color: #858585;
  padding-bottom: 20px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
  }
}

