.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 72px;
  position: relative;
}

.header_menu, .header_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  margin: 0 20px;
  max-width: 750px;
  width: 100%;

  @media (max-width: 1240px) {
    & {
      margin: 0;
      min-width: 100%;
    }
  }
}

.header_menu_li {
  list-style-type: none;
}

.header_menu_li:last-child {
  margin-right: 0;
}

.header_menu_li a, .header_contacts_li  a {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.header_contacts {
  min-width: 320px;
}

.header_contacts_li {
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  margin-left: 2px;
}

.header_contacts_li:first-child {
  margin-left: 0;
}

.nav_phone {
  line-height: 17px;
}

.nav_lang_item, .nav_enter_item  {
  padding-right: 25px;
  border-right: 0.5px solid #000000;
}

.nav_lang_label {
  width: 37px;
  overflow: hidden;
  display: inline-block;
  background: url("../images/ArrowSelect.png") no-repeat right;
}

.nav_lang {
  border: none;
  background-color: transparent;
  outline: none;
  width: 48px;
  font-size: 12px;
}

.nav_find {
  padding-left: 31px;
}

.find_input {
  text-indent: 5px;
  width: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  background: url("../images/glass.png") no-repeat transparent;
}

.find_input {
  &:active, &:active {
    background: #fff;
  }
}

.find_input__active {
  width: 325px;
  height: 50px;
  border: 0.5px solid #C4C4C4;
  transition: width 0.3s ease-out;
  background: #fff;
  margin-top: -15px;
}

.find_input_item {
  width: 23px;
  position: relative;
}

.toggle_menu {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}

.toggle_menu_item {
  display: none;
  width: 20px;
  height: 3px;
  background-color: #191e23;
  margin-bottom: 3px;

  &:last-child {
    margin-bottom: 0;
  }
}

.show.show {
  display: block;
}

@media (max-width: 1240px) {
  .header {
    flex-wrap: wrap;
    padding: 0 50px;
  }
  .header_contacts {
    display: flex;
    order: 1;
  }
  .header_menu {
    order: 2;
  }
  .nav_phone_item {
    order: 1;
  }
  .find_input_item {
    order: 2;
    box-sizing: border-box;
    margin: 0 10px 0 17px;
  }
  .find_input__active.find_input__active {
    background: #fff;
    margin-top: 0;
  }
  .find_input {
    width: 200px;
    height: 30px;
    border: 0.5px solid #C4C4C4;
    background: url("../images/glass.png") 5px 5px no-repeat #FFFFFF;
  }

  .nav_lang_item {
    order: 3;
    border-right: none;
  }
  .nav_enter_item {
    order: 4;
    border-right: none;
    cursor: pointer;
    background: url("../images/enter_icon.png") 2px 8px no-repeat;
  }
  .header_contacts_li {
    height: 30px;
    line-height: 30px;
    .nav_enter {
      font-size: 0;
    }
  }
}

@media(max-width: 768px) {
  .header {
    padding: 10px;
    height: 52px;
    justify-content: space-between;
  }

  .header_logo img {
    width: 132px;
    height: 28px;
  }

  .nav_enter_item, .nav_lang_item, .find_input_item {
    display: none;
  }

  .nav_phone_item {
    padding-right: 40px;
  }

  .header_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
  }

  .header_menu_li a {
    height: calc((100vh - 52px) / 6 );
    line-height: calc((100vh - 52px) / 6 );
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid rgba(177, 177, 177, 0.52);
  }

  .header_contacts {
    min-width: 110px;
  }

  .toggle_menu_item {
    display: block;
  }

}
