.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  padding: 0 10px;
}

.header_menu, .header_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  margin: 0 20px;
  min-width: 500px;
}

.header_menu_li {
  list-style-type: none;
}

.header_menu_li:last-child {
  margin-right: 0;
}

.header_menu_li a, .header_contacts_li  a {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.header_contacts {
  min-width: 350px;
}

.header_contacts_li {
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  margin-left: 2px;
}

.header_contacts_li:first-child {
  margin-left: 0;
}

.nav_phone {
  line-height: 17px;
}

.nav_lang_item, .nav_enter_item  {
  padding-right: 25px;
  border-right: 0.5px solid #000000;
}

.nav_lang_label {
  width: 37px;
  overflow: hidden;
  display: inline-block;
  background: url("../images/ArrowSelect.png") no-repeat right;
}

.nav_lang {
  border: none;
  background-color: transparent;
  outline: none;
  width: 48px;
  font-size: 12px;
}

.nav_find {
  padding-left: 31px;
}

.find_input {
  text-indent: 5px;
  width: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url("../images/glass.png") no-repeat transparent;
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
  }
  .header_contacts {
    display: flex;
    order: 1;
  }
  .header_menu {
    order: 2;
  }
  .nav_phone_item {
    order: 1;
  }
  .find_input_item {
    order: 2;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    margin: 0 10px;
  }
  .find_input {
    width: 230px;
    height: 30px;
    background: url("../images/glass.png") 5px 5px no-repeat #FFFFFF;
  }
  .nav_lang_item {
    order: 3;
    border-right: none;
  }
  .nav_enter_item {
    order: 4;
    border-right: none;
    cursor: pointer;
    background: url("../images/enter_icon.png") 2px 8px no-repeat;
  }
  .header_contacts_li {
    height: 30px;
    line-height: 30px;
    .nav_enter {
      font-size: 0;
    }
  }
}

@media(max-width: 768px) {
  .header_logo {
    margin-right: 29px;
  }

  .header_logo img {
    width: 152px;
    height: 32px;
  }

  .nav_enter_item, .nav_lang_item, .find_input_item {
    display: none;
  }

  .header_menu {
    flex-direction: column;
  }

}
