.button_more {
  position: relative;
  padding: 12px 90px 13px 34px;
  border: solid black 1px;
  color: black;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    background-color: #000000;
    color: #ffffff;
    .button_img {
      filter: invert(100%);
    }
  }
}

.button_img {
  position: absolute;
  top: 17px;
  right: 24px;
}