.callback {
  display: flex;
  justify-content: space-between;
}

.callback_left {
  display: flex;
  flex: initial;
  flex: 1;
  flex-direction: column;
}

.callback_question {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #393939;
  margin-bottom: 6px;
}

.button_callback {
  max-width: 237px;
  background-color: #27AE60;
  padding: 15px 38px 14px 38px;
  color: #FFFFFF;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    background-color: #227f49;
  }

  &:active {
    background-color: #20633c;
  }
}

.callback_search {
  border: solid #D9D9D9 0.5px;
  width: 773px;
  height: 24px;
  outline: none;
  margin-top: 28px;
  padding: 18px 19px 17px 19px;
  background-image: url(../images/for_developers/search_img.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background: rgb(249,249,249);
  color: #9E9E9E;
  &:hover {
    border-color: #bfbfbf;
  }

  &:focus {
    border-color: #3399ff;
  }

  &::placeholder {
    color: #D9D9D9;
  }
}
