doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(media="all", rel="stylesheet", href="assets/css/vendor.min.css")
        link(media="all", rel="stylesheet", href="assets/css/style.min.css")


    body.layout-main
        include ../mixins/header.pug

        div.layout-content
            block content

        include ../mixins/footer.pug

    script(type="text/javascript", src="assets/js/vendor.min.js")
    script(type="text/javascript", src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    //script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
    script(type="text/javascript", src="assets/js/app.js")