.about-us-slider-item {
    margin-top: 50px;
    padding: 0 20px;
    background: #F9F9F9;

    @media (max-width: 1024px) {
        & {
            margin: 0 10px;
        }
    }

    @media (max-width: 320px){
        & {
            margin: 0;
            padding: 0 40px;
        }
    }
}
