// 1183

@mixin setSize($width, $height) {
    width: ($width / 1140 * 100%);
    &:before {
        padding-bottom: ( $height / $width  * 100%);
    }
}

.main-gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 43px;
    margin-bottom: 110px;
    justify-content: space-between;

    > :nth-child(2) {
        display: none;
    }

    @media (max-width: 1159px ) {
        padding: 0;
    }

    // 1140
    @media (min-width: 1160px ) {
        > :before {
            content: "";
            display: block;
        }

        > :nth-child(1) {
            @include setSize(745, 518);

            .main-gallery-info {
                padding-right: 200px;
            }
        }

        > :nth-child(2) {
            @include setSize(360, 518);
            display: inline-block;
    }

        > :nth-child(3) {
            @include setSize(532, 296);
        }

        > :nth-child(4) {
            @include setSize(323, 296);
        }

        > :nth-child(5) {
            @include setSize(220, 296);

            .main-gallery-info {
                width: 178px;
            }
        }
    }
}
