.main-about {
    max-width: 1183px;
    margin: 0 auto;
    padding: 40px 0 170px 0;

    .about-img-block {
        width: 423px;
        height: 339px;
    }

    .about-img {
        top: 28px;
    }

    .about-line-deal:after {
        width: 243px;
    }
}
