.main-gallery-more-text {
    width: 100%;
    position: absolute;
    top: 64px;
    z-index: 2;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
