.main-banner {
    .content {
        padding: 230px 0 300px 0;
    }

    .content-title {
        font-size: 60px;
        margin-bottom: 0;
    }

    .content-subtitle {
        font-size: 50px;
        line-height: 84px;
        text-transform: uppercase;
    }
}
