.main-about {
    max-width: 1183px;
    margin: 0 auto;
    padding: 40px 0 120px 0;

    .about-img-block {
        width: 423px;
        height: 339px;
    }

    .about-img {
        top: 28px;
    }

    .about-line-deal:after {
        width: 243px;
        left: 50px;
    }

    .main-image-wrapper {
        position: relative;
        margin-bottom: 40px;

        .about-img-block {
            top: 0;
        }

        .about-img {
            left: 37px;
        }
    }

    @media (max-width: 1252px) {
        padding: 40px 97px 120px 70px;

        .about-line-deal:after  {
            width: 43px;
        }

        .about_right {
            margin-left: -27px;
        }

        .about-img {
            top: 17px;
            left: 17px;
        }
    }

    @media (max-width: 1075px) {
        padding: 40px 97px 30px 70px;

        .about-line-deal:after  {
            display: none;
        }

        .about-text {
            margin-bottom: 20px;
        }

        .about_right {
            width: 258px;
        }

        .about-img-block {
            width: 258px;
            height: 220px;
        }

        .about-img {
            width: 279px;
            height: 238px;
        }
    }

    @media (max-width: 700px) {
        .about-text {
            display: none;
        }

        display: flex;
        flex-direction: column;
        padding: 40px 50px 30px 10px;

        .about_right {
            margin: auto;
        }

        .about-line-deal:after  {
            display: inline-block;
            width: 20px;
        }

        .about-img-block {
            margin-top: 0;
            margin-bottom: 60px;
        }
    }
}
