.main-gallery-text {
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    padding: 0 28px;
    margin: auto;

    &:after {
        display: inline-block;
        content: "";
        max-width: 92px;
        width: 75%;
        border-top: 1px solid #fff;
    }

    @media (max-width: 1160px ) {
        margin-left: 19px;
    }
}
