.news-slider-arrow-left {
    right: 25px;

    &:after {
        content: "";
        height: 16px;
        width: 25px;
        display: inline-block;
        background-image: url(/assets/images/main/news_arrow.png);
        transform: rotate(180deg);
        background-size: cover;
        margin-left: 21px;
        vertical-align: middle;
    }

    &:hover {
        &:after {
            background-image: url(/assets/images/main/news_arrow_black.png);
            transform: rotate(0deg);
            height: 16px;
            // need to rewrite
            margin-top: -2px;
        }
    }
}
