.about-wrapper {
  padding-top: 26px;
  background-image: radial-gradient(white 35%, rgba(0,0,0,0));
}

.region_about {
  background: url("../images/about_company/bg_about.jpg") 50% -130px no-repeat;
}

.about {
  display: flex;
  //justify-content: space-between;
  justify-content: stretch;
  padding-bottom: 101px;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }

  &-description {
    width: 100%;
  }
}


.about_right {
  width: 465px;
}

.about-title {
  margin-bottom: 10px;
  white-space: nowrap;
  display: inline-block;
}

.about-subtitle {
  display: flex;
  margin-bottom: 25px;
}

.about-line-deal:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 114px;
  position: relative;
  left: 20px;
}

.about-text-wrapper {
  display: flex;
  @media (max-width: 1024px) {
    display: block;
  }
}

.about-text {
  line-height: 25px;
  color: #AEAEAE;
  margin-bottom: 47px;
  padding-right: 80px;
  max-width: 630px;
  order: 1;
  @media (max-width: 1000px) {
    color: #424242;
  }

  @media (max-width: 768px) {
    padding-right: 0;
  }
}

.about-image-wrapper {
  display: inline-block;
  float: none;
  position: relative;
  order: 2;
  right: -69px;
  margin-top: -57px;

  .about-img-block {
    top: -28px;
    left: -27px;
  }

  @media (max-width: 1024px) {
    float: right;
    margin-left: 37px;
    right: -20px;
    //margin-top: 0;
  }
  @media (max-width: 768px) {
    padding: 20px 0;
    float: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;

    .about-img-block {
      top: 0;
    }
  }
}

.about-img-block {
  width: 423px;
  height: 423px;
  position: absolute;
  z-index: 2;
  border: solid 2px #E2E2E2;
  @media (max-width: 1180px) {
    & {
      width: 240px;
      height: 172px;
    }
  }
}

.about-img {
  position: relative;
  z-index: 3;
  @media (max-width: 1180px) {
    & {
      width: 260px;
      height: 186px;
    }
  }
}

.button-about {
  margin-top: 25px;
}


@import "about-wrapper";
