.about-wrapper {
  padding: 27px 20px 0;
  background-image: radial-gradient(white 35%, rgba(0,0,0,0));
  max-width: 1183px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    & {
      padding: 26px 50px 0;
    }
  }
  @media (max-width: 768px) {
    & {
      padding: 26px 10px 0;
    }
  }
}

.region_about {
  background: url("../images/about_company/bg_about.png") 50% -130px no-repeat;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 101px;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}

.about_right {
  width: 465px;
}

.about-title {
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  margin-bottom: 10px;
  white-space: nowrap;

  @media (max-width: 1024px) {
    & {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  @media (max-width: 768px) {
    font-size: 34px;
    white-space: normal;
  }
}

.about-subtitle {
  color: #27AE60;
  display: flex;
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (max-width: 1024px) {
    & {
      font-weight: bold;
      //font-size: 20px;
      //line-height: 1.5;
    }
  }
}

.about-line-deal:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 114px;
  position: relative;
  left: 20px;
}

.about-text-wrapper {
  display: flex;
  @media (max-width: 1024px) {
    display: block;
  }
}

.about-text {
  font-size: 14px;
  line-height: 25px;
  color: #AEAEAE;
  margin-bottom: 47px;
  padding-right: 80px;
  max-width: 630px;
  order: 1;
  @media (max-width: 1024px) {
    & {
      display: inline;
    }
  }
  @media (max-width: 768px) {
    padding-right: 0;
    //max-width: 320px;
  }
}

.about-image-wrapper {
  display: inline-block;
  float: none;
  position: relative;
  order: 2;

  .about-img-block {
    top: -28px;
    left: -27px;
  }
  @media (max-width: 1024px) {
    float: right;
    margin-left: 37px;
  }
  @media (max-width: 768px) {
    padding: 20px 0;
    float: none;
    display: table;
    margin-left: auto;
    margin-right: auto;

    .about-img-block {
      top: 0;
    }
  }
}

.about-img-block {
  width: 423px;
  height: 423px;
  position: absolute;
  z-index: 2;
  border: solid 2px #E2E2E2;
  @media (max-width: 1024px) {
    & {
      width: 240px;
      height: 172px;
    }
  }
}

.about-img {
  position: relative;
  z-index: 3;
  @media (max-width: 1024px) {
    & {
      width: 260px;
      height: 186px;
    }
  }
}

.button-about {
  margin-top: 25px;
}


@import "about-wrapper";
