* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Exo 2', sans-serif;
}

.layout-content {
  margin: 0 auto;
  width: 100%;
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.green {
  color: #27AE60;
}

.title {
  @extend .h1;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  justify-content: stretch;
  align-items: center;

  &.right {
    text-align: right;
    flex-direction: row-reverse;
    .title_content {
      margin-right: 0;
      margin-left: 22px;
    }
  }

  &_content {
    margin-right: 22px;
  }

  &:after, &:before {
    content: "";
    height: 1px;
    background: #000;
    flex: 1;
    margin-top: -36px;
  }

  &:before {
    display: none;
  }

}

.upper_text {
  font-size: 8px;
  line-height: 7px;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
}

.title_green {
  display: block;
  color: #27AE60;
  font-weight: bold;
  text-transform: uppercase;
  //font-size: 34px;
  //line-height: 41px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  transition: 0.5s;
}

@media (max-width: 1180px) {
  .container {
    padding: 0 75px
  }
}

@media (max-width: 760px) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 12px;
  }
}