* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Exo 2', sans-serif;
}

.layout-content {
  margin: 0 auto;
  width: 100%;
  flex: 1 0 auto;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.green {
  color: #27AE60;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  transition: 0.5s;
}

@media (max-width: 1180px) {
  .container {
    padding: 0 75px
  }
}

@media (max-width: 760px) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 12px;
  }
}