* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Exo 2', sans-serif;
}

.layout_content {
  margin: 0 auto;
  width: 100%;
  flex: 1 0 auto;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.green {
  color: #27AE60;
}

.upper_text {
  font-size: 8px;
  line-height: 7px;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
}

a {
  text-decoration: none;
}

button, a, input, textarea {
  transition-duration: 0.3s;
}

button {
  cursor: pointer;
}

.title {
  @extend .h1;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  justify-content: stretch;
  align-items: center;

  &.right {
    text-align: right;
    flex-direction: row-reverse;
    .title_content {
      margin-right: 0;
      margin-left: 22px;
    }
  }

  //&_black {
  //  display: inline-block;
  //}

  &_content {
    margin-right: 22px;
  }

  &:after {
    content: "";
    height: 1px;
    background: #000;
    flex: 1;
    margin-top: -20px;
  }

  &_green {
    display: block;
    color: #27AE60;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 1180px) {
  .container {
    padding: 0 75px
  }

  .title {
    &_content {
      margin-right: 16px;
    }

    &:after {
      margin-top: -4px;
    }

    &.right .title_content {
      margin-left: 16px;
    }
  }
}

@media (max-width: 760px) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 12px;
  }

  .title:after {
    display: none;
  }
}