.content_two_wrapper_about_company {
  padding-top: 27px;
}

.about_company {
  display: flex;
  justify-content: space-between;
  padding-bottom: 101px;
}

.about_left {
  max-width: 630px;
}

.about_right {
  width: 465px;
}

.about_text_title {
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 25px;
  font-weight: normal;
  text-transform: uppercase;
}

.about_text_title span {
  color: #27AE60;
  &:before {
  display: inline-block;
  content: "";
  border: black solid 1px;
  width: 103px;
  vertical-align: bottom;
  }
}

.about_text {
  font-size: 14px;
  line-height: 25px;
  color: #AEAEAE;
  margin-bottom: 38px;
}

.more_button {
  position: relative;
  padding: 12px 90px 13px 34px;
  border: solid black 1px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
  &:active {
    background-color: #000000;
    color: #ffffff;
  }
}

.about_img_block {
  width: 432px;
  height: 428px;
  position: relative;
  border: solid 2px #E2E2E2;
  margin-top: 35px;
}

.about_img {
  position: absolute;
  top: 35px;
  left: 27px;
}



