.about_wrapper {
  padding-top: 27px;
}

.region_about {
  background-image: url("../images/about_company/bg_about.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -130px;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 101px;
}

.about_left {
  max-width: 630px;
}

.about_right {
  width: 465px;
}

.about_title {
  display: flex;
  font-size: 34px;
  line-height: 41px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px
}

.about_title span {
  color: #27AE60;
}

.about_line_deal:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 114px;
  position: relative;
  left: 20px;
}

.about_text {
  font-size: 14px;
  line-height: 25px;
  color: #AEAEAE;
  margin-bottom: 47px;
}

.button {
  position: relative;
  padding: 12px 90px 13px 34px;
  border: solid black 1px;
  color: black;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }

  &:active {
    background-color: #000000;
    color: #ffffff;
  }
}

.button-white {
  border-color: white;
  color: white;

  &:hover {
    background-color: white;
    color: black;
  }

  &:active {
    background-color: white;
    color: black;
  }
}

.about_img_block {
  width: 432px;
  height: 428px;
  position: relative;
  border: solid 2px #E2E2E2;
  margin-top: 35px;
}

.about_img {
  position: absolute;
  top: 35px;
  left: 27px;
}



