.region_catalog {
  margin-bottom: 76px;
}



.catalog {
  font-size: 14px;

  &_banner {
    width: 100%;
    margin: 30px 0 40px;

    img {
      max-width: 100%;
    }
  }

  &_header {
    &_top, &_bottom {
      width: 100%;
      display: flex;
    }

    &_bottom {
      margin-top: 10px;
      align-items: center;
    }

    .select2 {
      width: 33.3% !important;
    }

    &_button {
      margin-left: auto;
    }
  }

  &_body {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    img {
      display: block;
      width: 100%;
    }
  }

  &_search_result {
    color: #424242;
    margin-bottom: 8px;
  }

  &_sidebar {
    width: calc(33.3% - 8px);

    .catalog_item {
      width: 100%;
    }
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    //flex: 1;
    margin-bottom: -16px;
    width: calc(66.6% - 8px);
  }

  &_item {
    margin: 0 0 16px;
    width: calc(50% - 8px);
    border: 1px solid #27AE60;
    cursor: pointer;

    &_vip {
      border-color: #F9C938;
      position: relative;
      @extend .icon-king;

      &:before {
        @extend .icon;
        font-size: 26px;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    &_content {
      padding: 0 10px 16px;
    }

    &_field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      span {
        margin-left: 6px;
      }
    }

    &_name, &_cost {
      font-weight: bold;
    }

    &_cost {
      color: #27AE60;
    }
  }

  &_slider {
    width: 360px;
    display: flex;
    margin-right: 20px;
    white-space: nowrap;

    &_input {
      max-width: 283px;
      flex: 1;
      margin-left: 8px;
      margin-top: 10px;
    }
  }
}

@media (max-width: 1100px) {
  .region_catalog {
    margin-top: 27px;
  }

  .catalog_header {
    position: relative;

    &_top {
      flex-wrap: wrap;
    }

    .select2 {
      width: 50% !important;
      &:last-child {
        margin-top: 30px;
      }
    }

    &_bottom {
      margin-top: 34px;
      flex-direction: column;
      align-items: flex-start;
    }

    &_button {
      margin-top: -90px;
    }
  }

  .catalog_banner {
    margin-bottom: 12px;
  }

  .catalog_slider {
    margin-bottom: 34px;
    width: calc(100% - 190px);
    max-width: 400px;

    &_input {
      max-width: 400px;
    }
  }

  .catalog_checkbox {
    position: absolute;
    right: 0;
    top: 104px;

    .checkbox_item {
      order: 2;
      margin-left: 30px;
      margin-right: 0;
    }
  }

}


@media (max-width: 800px) {
  .catalog_body {
    flex-wrap: wrap;
  }

  .catalog_sidebar {
    width: 100%;

    .catalog_item {
      float: left;
      width: calc(50% - 8px);
    }

    &_banner {
      width: calc(50% - 8px);
      float: right;
    }
  }

  .catalog_items {
    width: 100%;
    margin-bottom: 16px;
    order: 2;
  }
}

@media (max-width: 560px) {
  .catalog {
    &_header {
      .select2 {
        width: 100% !important;
        margin-bottom: 10px;
        display: block;

        &:last-child {
          margin-bottom: 14px;
          margin-top: 0;
        }
      }

      &_button {
        margin: 10px 0 0 0;
      }

      &_bottom {
        margin-top: 0;
      }
    }

    &_checkbox {
      position: static;
      order: -1;
      margin-bottom: 21px;
    }

    &_banner {
      margin: 20px -12px 18px;
      width: auto;
    }

    &_slider {
      flex-direction: column;
      max-width: 100%;
      width: 100%;
      margin-bottom: 22px;

      &_input {
        max-width: 100%;
      }

      p {
        margin-bottom: 18px;
      }
    }

  }

}

@media (max-width: 480px) {
  .catalog_item,
  .catalog_sidebar_banner,
  .catalog_sidebar .catalog_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}