.region_content {
  background-image: url("../images/for_developers/bg_content_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: " ";
  }
}

.content {
  max-width: 894px;
  margin: 0 auto;
  padding: 128px 0 150px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.content_banner {
  font-weight: bold;
  font-size: 50px;
  line-height: 84px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.content_text {
  max-width: 889px;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.region_for_developers {
  background-image: url("../images/for_developers/bg_content_two.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -550px;
}

.for_developers_wrapper {
  background: linear-gradient(#FFFFFF 0%, rgba(255, 255, 255, 0.7) 55.8%, rgba(255, 255, 255, 0) 100%);
  max-width: 1183px;
  margin: 0 auto;
  padding: 137px 0 140px 23px;
}

.cooperation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 139px;
}

.cooperation_title {
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.cooperation_title span {
  color: #27AE60;
  &:before {
    display: inline-block;
    content: "";
    border: black solid 1px;
    width: 103px;
    vertical-align: middle;
  }
}

.cooperation_subtitle {
  font-size: 25px;
  line-height: 36px;
}

.cooperation_right {
  display: flex;
}

.form_of_cooperation {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.cooperation_input {
  width: 512px;
  height: 23px;
  outline: none;
  border: solid #5B5B5B 1px;
  margin-bottom: 9px;
  padding: 12px 0 13px 34px;
  background: rgba(255,255,255,0.5);

  &:hover {
    border-color: #bfbfbf;
  }

  &:focus {
    border-color: #3399ff;
  }
  &::placeholder {
    color: #C1C1C1;
  }
}

.input_last {
  margin-bottom: 19px;
}

.button_send {
  max-width: 205px;
  background-color: #27AE60;
  padding: 12px 64px 13px 63px;
  margin-left: 340px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
    &:hover {
      background-color: #1c894a;
    }

    &:active {
      background-color: #176638;
    }
}

.partners {
  display: flex;
  justify-content: space-between;
  padding: 0 23px 67px 0;
}

.callback {
  display: flex;
  justify-content: space-between;
}

.callback_left {
  display: flex;
  flex: initial;
  flex: 1;
  flex-direction: column;
}

.callback_question {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #393939;
  margin-bottom: 6px;
}

.button_callback {
  max-width: 237px;
  background-color: #27AE60;
  padding: 15px 38px 14px 38px;
  color: #FFFFFF;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
    &:hover {
      background-color: #227f49;
    }

    &:active {
      background-color: #20633c;
    }
}

.callback_search {
  border: solid #D9D9D9 0.5px;
  width: 773px;
  height: 24px;
  outline: none;
  margin-top: 28px;
  padding: 18px 19px 17px 19px;
  background-image: url(../images/for_developers/search_img.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background: rgb(249,249,249);
  color: #9E9E9E;
    &:hover {
      border-color: #bfbfbf;
  }

    &:focus {
      border-color: #3399ff;
  }

  &::placeholder {
    color: #D9D9D9;
  }
}
