.region_search {
  display: flex;
  justify-content: center;
}

.search_wrapper {
  width: 1140px;
}

.search_category {
  font-size: 0;
  box-sizing: border-box;
}

.land {
  width: 400px;
  height: 60px;
  border: 1px solid #27AE60;
  outline: none;
  font-size: 14px;
  border-radius: 0;
  border-right: none;
}

.area, .land_category {
  width: 370px;
  height: 60px;
  border: 1px solid #27AE60;
  outline: none;
  font-size: 14px;
  border-radius: 0;
}

.area {
  border-right: none;
}

