.servises_wrapper {
  background: rgba(255,255,255,0.5);
  padding-top: 26px;
}

.services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.services_left {
  max-width: 659px;
  padding: 5px 0 0 12px;
}

.services_title {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 41px;
  }

span {
  display: block;
  color: #27AE60;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 27px;
}

.services_subtitle {
  text-align: right;
}

.services_list {
  max-width: 552px;
  width: 100%;
  padding-left: 5px;
  margin-bottom: 70px;
}

.services_list_item {
  font-size: 14px;
  line-height: 25px;
  color: #424242;
}

.services_right {
  width: 475px;
  position: relative;

}

.servises_image_block {
  position: absolute;
  width: 423px;
  height: 339px;
  border: solid 2px #e2e2e2;
  margin-top: 35px;
}

/*.services_img {
  position: relative;
  top: -23px;
  left: 25px;
}

.services_img_approval {
  position: relative;
  top: 28px;
  right: 63px;
}

.services_img_insurance {
  position: relative;
  top: 28px;
  left: 27px;
}

.services_img_developers {
  position: relative;
  top: 25px;
  right: 61px;
}
*/

.order_two {
  order: 2;
}

.services_line_deal:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 131px;
}

.services_line_approval:before {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 331px;
}

.services_line_insurance:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 332px;
}

.line_serveces:before {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 228px;
}

.services_line_property:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 332px;
}