.region_services {
  background: url("../images/about_company/bg_about.jpg") no-repeat;
  background-size: 1920px;
}

.services_wrapper {
  background: rgba(255,255,255,0.5);
  padding-top: 26px;
  max-width: 1183px;
  margin: 0 auto;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: flex-start;

  &.right {
    .cooperation_description {
      margin-right: 0;
      margin-left: 43px;
      max-width: 552px;
    }
  }
}

.services_list {
  width: 100%;
  margin-bottom: 44px;
  list-style: disc;
}

.services_list_item {
  font-size: 14px;
  line-height: 25px;
  color: #424242;
  display: block;

  &:before {
    content: "• ";
    margin-right: 4px;
  }
}

@media (max-width: 1180px) {
  .cooperation_description {
    margin-right: 25px;
  }

  .services {
    margin-bottom: 44px;
    &_list {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 640px) {
  .services {
    flex-direction: column;
    padding-bottom: 98px;
    position: relative;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .cooperation_description {
      margin-right: 0;
    }

    &.right {
      .boximage {
        order: 2;
      }
      .cooperation_description {
        margin-left: 0;
      }
    }

    .boximage {
      margin-top: 6px;
    }

    .button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}