.region_services {
  background: url("../images/services/backgroundServices.png") no-repeat;
  background-size: 1920px;
}

.services_wrapper {
  background: rgba(255,255,255,0.5);
  padding-top: 26px;
  max-width: 1183px;
  margin: 0 auto;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: flex-start;

  &.right {
    .cooperation_description {
      margin-right: 0;
      max-width: 552px;
    }
  }
}

.cooperation_image {
  position: relative;
  margin-top: 30px;
}

.services_list {
  width: 100%;
  padding-left: 5px;
  margin-bottom: 44px;
  list-style: disc;
}

.services_list_item {
  font-size: 14px;
  line-height: 25px;
  color: #424242;
  display: block;

  &:before {
    content: "• ";
    margin-right: 4px;
  }
}

.services_image_block {
  width: 423px;
  height: 339px;
  border: solid 2px #e2e2e2;
}

.cooperation_image {
  margin-right: 69px;

  &.left, &.right {
    .services_img { top: 28px; }
  }

  &.left {
    .services_img {
      left: 27px;
    }
  }

  &.right {
    margin-left: 69px;
    .services_img {
      right: 33px;
      left: auto;
    }
  }

}

.services_img {
  position: absolute;
  top: -23px;
  left: 27px;
  z-index: 2;

}

.services_line_deal:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 131px;
  position: relative;
  bottom: 20px;
  left: 20px;
}

.services_line_approval:before {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 331px;
}

.services_line_insurance:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 332px;
}

.line_serveces:before {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 228px;
}

.services_line_property:after {
  display: inline-block;
  content: "";
  border-bottom: black solid 1px;
  width: 332px;
}

@media (max-width: 1180px) {
  .services_img {
    width: 260px;
  }

  .services_image_block {
    width: 255px;
    height: 172px;
  }
}