.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

  @media (max-width: 1024px) {
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px auto;
  }
}
