doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(media="all", rel="stylesheet", href="assets/css/vendor.min.css")
    link(media="all", rel="stylesheet", href="assets/css/style.min.css")
  body.layout-main
    div.layout-content
      // header
      include ../mixins/header.pug

      div.region_about
        // todo: remove unnecessary classes
        div.for_developers_wrapper.about_wrapper.about-wrapper
          div.about
            div.cooperation_left.about_left
              div.about_title.about-line-deal
                div Мы на рынке недвижимости
              span.about-subtitle с 2015 года
              p.about_text
                |«Компания – это в первую очередь опытная команда профессионалов, способных
                |понять клиента и подобрать эффективное решение поставленных задач, будь-то
                |продажа квартиры или одобрение ипотеки.
                br
                |Мы любим своё дело и доводим его до конца. Обязательность и соблюдение
                |договорённостей – это наши основные принципы, которых мы придерживаемся в
                |работе. Мы ценим долгосрочные партнёрские отношения, нам доверяют ведущие
                |банки России:
                br
                |Сбербанк, ВТБ 24, Зенит, Росевробанк, Банк Российский капитал, СМП.
                |Мы благодарны нашим клиентам за оказанное доверие, поскольку мы понимаем,
                |что покупка квартиры – это не просто покупка квадратных метров, но и
                |благополучное и безопасное будущее всей семьи на долгие годы.
                |Рынок недвижимости полон предложений с разного рода нюансами и
                |подводными камнями, разобраться в которых, порой, простому человеку без
                |опыта в данной сфере очень сложно и долго.
                br
                |Стоит ли рисковать будущем своей семьи и тратить нервы на долгие переговоры и
                |проверку юридической чистоты сделки, если успех заранее не определён?
                br
                br
                |Доверьте эту работу профессионалам!»

              a.button(href="#")
                span подробнее
                img.button-img(src="assets/images/ArrowBlack.png")

            div.cooperation_right.about_right
              div.about-img-block
                img.about-img(src="assets/images/about_company/about_compaty_img.jpg")

          // partners
          include ../mixins/partners

          // callback form
          include ../mixins/callback

      // footer
      include ../mixins/footer.pug
