doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(media="all", rel="stylesheet", href="assets/css/vendor.min.css")
    link(media="all", rel="stylesheet", href="assets/css/style.min.css")
  body
    include ../mixins/header.pug

    div.layout_main
      div.region_about_company
        div.for_developers_wrapper.about_company_wrapper
          div.about_company
            div.cooperation_left.about_left
              div.about_title Мы на рынке недвижимости
                span с 2015 года
              p.about_text «Компания – это в первую очередь опытная команда профессионалов, способных понять клиента и подобрать эффективное решение поставленных задач, будь-то продажа квартиры или одобрение ипотеки. Мы любим своё дело и доводим его до конца. Обязательность и соблюдение договорённостей – это наши основные принципы, которых мы придерживаемся в работе. Мы ценим долгосрочные партнёрские отношения, нам доверяют ведущие банки России: Сбербанк, ВТБ 24, Зенит, Росевробанк, Банк Российский капитал, СМП. Мы благодарны нашим клиентам за оказанное доверие, поскольку мы понимаем, что покупка квартиры – это не просто покупка квадратных метров, но и благополучное и безопасное будущее всей семьи на долгие годы. Рынок недвижимости полон предложений с разного рода нюансами и подводными камнями, разобраться в которых, порой, простому человеку без опыта в данной сфере очень сложно и долго. Стоит ли рисковать будущем своей семьи и тратить нервы на долгие переговоры и проверку юридической чистоты сделки, если успех заранее не определён? Доверьте эту работу профессионалам!»
              a.button_more(href="#") подробнее
            div.cooperation_right.about_right
              div.about_img_block
                img.about_img(src="assets/images/about_company/about_compaty_img.jpg")
          div.partners
            img.partners_img(src="assets/images/for_developers/partner_logo.png", alt="partner logo")
            img.partners_img(src="assets/images/for_developers/partner_logo_2.png", alt="partner logo")
            img.partners_img(src="assets/images/for_developers/partner_logo.png", alt="partner logo")
            img.partners_img(src="assets/images/for_developers/partner_logo_2.png", alt="partner logo")
          div.callback
            div.callback_left
              p.callback_question Не нашли что искали?
              a.button_callback(href="#") заявка на звонок
            div.callback_right
              form.callback_form(name="callback")
                input.callback_search(type="text", placeholder="Поиск", name="callback")


        include ../mixins/footer.pug
