extends ../base/layout

block content
    .container
        .region_catalog
            .catalog
                .catalog_header
                    .catalog_header_top
                        select.select2
                            option Земельные участки
                            option Коммерческая недвижимость
                            option Загородная недвижимость
                        select.select2
                            option Район
                        select.select2
                            option Категория земель

                    .catalog_header_bottom
                        .catalog_slider
                            p
                                | Площадь (М
                                span.upper_text 2
                                | )

                            .catalog_slider_input.j-slider
                                .j-slider-handle.ui-slider-handle
                                    span
                                .j-slider-handle.ui-slider-handle
                                    span

                        .catalog_slider
                            p Цена (Р)
                            .catalog_slider_input.j-slider
                                .j-slider-handle.ui-slider-handle
                                    span
                                .j-slider-handle.ui-slider-handle
                                    span

                        .catalog_checkbox
                            label.checkbox
                                span.checkbox_item
                                    input(type="checkbox" name="isWithPhoto" checked)
                                    i.checkbox_icon
                                | Только с фото

                        button(type="button").button_green.catalog_header_button Найти




                .banner.catalog_banner
                    img(src="/assets/images/catalog/banner.jpg" alt="")

                .catalog_search_result Всего найдено 185 объявлений

                .catalog_body
                    .catalog_items

                        - var n = 0;
                        while n < 10
                            .catalog_item
                                img.catalog_item_img(src="/assets/images/catalog/item.jpg" alt="")
                                .catalog_item_content
                                    div.catalog_item_field
                                        span.catalog_item_name Участок 10 сот. (ИЖС)
                                        span Сосновка
                                    div.catalog_item_field
                                        span.catalog_item_cost 180 000 руб.
                                        span Сегодня 14:30
                            -n++

                    .catalog_sidebar
                        .catalog_item.catalog_item_vip
                            img.catalog_item_img(src="/assets/images/catalog/item_big.jpg" alt="")
                            .catalog_item_content
                                div.catalog_item_field
                                    span.catalog_item_name Участок 10 сот. (ИЖС)
                                    span Сосновка
                                div.catalog_item_field
                                    span.catalog_item_cost.red 180 000 руб.
                                    span Сегодня 14:30

                        .catalog_sidebar_banner
                            img(src="/assets/images/catalog/banner_2.jpg" alt="")