extends ../base/layout

block content
  .region-banner.developer-banner(style="background-image: url('assets/images/for_developers/bg_content_one.png');")
    .content
      .container
        .content-title
          | Мы сотрудничаем с крупнейшими застройщиками Москвы и Московской Области
        p.content-subtitle
          | Молчи, паскудная Европа и не «качай» свои права! Ты у РОССИИ — просто ж*,
          | а думаешь, что голова Тебе всегда, такой вальяжной, усмешечка кривила рот…
          | Но разве сволочи продажной известен истины полет??? Измазав рыло в шоколаде,
          | руля шикарный Мерседес Тебя подталкивает бес! Итак, рули пока рулится —
          | пока в России смута прет…
  .region_for_developers
    .for_developers_wrapper
      .container
        .cooperation
          .cooperation_left
            .cooperation_title.services_line_deal.h1
              div Для сотрудничества
            span.title_green.h1 заполните форму
            .cooperation_subtitle.h2 И наш директор
              br
              | обязательно свяжется с Вами
          form.form_of_cooperation(name="cooperation")
            input.cooperation_input(type="text", placeholder="ИМЯ", name="cooperation")
            input.cooperation_input(type="text", placeholder="ТЕЛЕФОН", name="cooperation")
            input.cooperation_input(type="text", placeholder="E-MAIL", name="cooperation")
            input.cooperation_input.input_last(type="text", placeholder="КОМПАНИЯ", name="cooperation")
            button.button_send(type="submit", name="cooperation") отправить

      include ../mixins/partners
      include ../mixins/callback
