extends ../base/layout

block content
  .region_banner.developer-banner(style="background-image: url('assets/images/for_developers/bg_content_one.jpg');")
    .content
      .container
        .content-title
          | Мы сотрудничаем с крупнейшими застройщиками Москвы и Московской Области
        p.content-subtitle
          | Молчи, паскудная Европа и не «качай» свои права! Ты у РОССИИ — просто ж*,
          | а думаешь, что голова Тебе всегда, такой вальяжной, усмешечка кривила рот…
          | Но разве сволочи продажной известен истины полет??? Измазав рыло в шоколаде,
          | руля шикарный Мерседес Тебя подталкивает бес! Итак, рули пока рулится —
          | пока в России смута прет…

  .region_cooperation
    .container.cooperation_wrapper.for-developer-content
      .cooperation
        .cooperation_left

          .title
            .title_content
              | Для сотрудничества
              br
              span.title_green заполните форму

          .cooperation_subtitle.h2 И наш директор
            br
            | обязательно свяжется с Вами
        form.form_of_cooperation
          input.cooperation_input(type="text", placeholder="ИМЯ", name="name")
          input.cooperation_input(type="text", placeholder="ТЕЛЕФОН", name="phone")
          input.cooperation_input(type="email", placeholder="E-MAIL", name="email")
          input.cooperation_input.input_last(type="text", placeholder="КОМПАНИЯ", name="company")
          button.button_send(type="submit") отправить


    .container
      include ../mixins/partners
      include ../mixins/callback
