doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(media="all", rel="stylesheet", href="assets/css/vendor.min.css")
        link(media="all", rel="stylesheet", href="assets/css/style.min.css")
        link(media="all", rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body.layout-main
        div.layout-content
            // header
            include ../mixins/header.pug

            // todo: rename `for_developers_wrapper` to some more actual
            div.for_developers_wrapper
                div.about_company_wrapper

                    // news
                    .news
                        p.region-title Наши
                            span.region-title-paint  новости
                        .news-slider
                            .news-slider-item
                                .news-slider-img(style="background-image:url(assets/images/main/news1.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            .news-slider-item
                                .news-slider-img(style="background-image:url(assets/images/main/news3.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            .news-slider-item
                                .news-slider-img(style="background-image:url(assets/images/main/news2.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            .news-slider-item
                                .news-slider-img(style="background-image:url(assets/images/main/news1.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год


                    // about us
                    .about-us
                        p.region-title.tablet-hidden Что говорят
                            span.region-title-paint  о нас
                        .about-us-slider
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.

                    // partners
                    include ../mixins/partners

                    // callback form
                    include ../mixins/callback

        // footer
        include ../mixins/footer.pug

    script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript", src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript", src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(type="text/javascript", src="assets/js/app.js")
