doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(media="all", rel="stylesheet", href="assets/css/vendor.min.css")
        link(media="all", rel="stylesheet", href="assets/css/style.min.css")
        link(media="all", rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body.layout-main
        .layout-content
            // header
            include ../mixins/header.pug

            .region-banner.main-banner(style="background-image: url('assets/images/main/banner.png');")
                .content
                    .content-title Построй свою мечту
                    p.content-subtitle в новом доме
                    a.button.button-white(href="#")
                        span подробнее
                        img.button-img(src="assets/images/arrow-white.png")

            // about
            .main-about-wrapper
                .about.main-about
                    .cooperation_left.about_left
                        .about_title.about-line-deal
                            div Дом №1- Первый дом
                        span.about-subtitle европейского уровня
                        p.about_text
                            | Молчи, паскудная Европа и не «качай» свои права! Ты у РОССИИ — просто ж*,
                            | а думаешь, что голова.
                            br
                            | Тебе всегда, такой вальяжной, усмешечка кривила рот…
                            | Но разве сволочи продажной известен истины полет??? Измазав рыло в шоколаде, руля
                            | шикарный Мерседес — не знаешь ты: к какой «награде»
                            | Тебя подталкивает бес! Итак, рули пока рулится — пока в России смута прет…
                            | Но знай: беда уже стучится! Твой час последний глухо бьет… (Ф. И. Тютчев)

                        a.button.mobile-hidden(href="#")
                            span подробнее
                            img.button-img(src="assets/images/ArrowBlack.png")

                    .cooperation_right.about_right
                        .about-img-block
                            img.about-img(src="assets/images/main/about.png")

                    div
                        a.button.hidden.mobile-show(href="#")
                            span подробнее
                            img.button-img(src="assets/images/ArrowBlack.png")
            .main-background
                .for_developers_wrapper.main-wrapper
                    .about_company_wrapper

                        // gallery
                        .main-gallery
                            p.region-title выбирай
                                span.region-title-paint  только лучшее

                            .main-gallery-wrapper
                                a.main-gallery-item.new-building(href="#")
                                    .main-gallery-background(style="background-image: url(assets/images/main/gallery-1.png)")
                                        .main-gallery-info
                                            .main-gallery-text Новое жилье

                                a.main-gallery-item.new-building.main-gallery-more(href="#")
                                    .main-gallery-background(style="background-image: url(assets/images/main/gallery-2.png)")
                                        .main-gallery-more-text Смотреть подробнее
                                        .main-gallery-more-search-icon


                                a.main-gallery-item.new-building(href="#")
                                    .main-gallery-background(style="background-image: url(assets/images/main/gallery-3.png)")
                                        .main-gallery-info
                                            .main-gallery-text Загородная недвижимость

                                a.main-gallery-item.new-building(href="#")
                                    .main-gallery-background(style="background-image: url(assets/images/main/gallery-4.png)")
                                        .main-gallery-info
                                            .main-gallery-text Вторичное жилье

                                a.main-gallery-item.new-building(href="#")
                                    .main-gallery-background(style="background-image: url(assets/images/main/gallery-5.png)")
                                        .main-gallery-info
                                            .main-gallery-text Земельные участки


                    // news
                    .news
                        p.region-title Наши
                            span.region-title-paint  новости
                        .news-slider
                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news1.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news3.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news2.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news1.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год


                    // about us
                    .about-us
                        p.region-title.tablet-hidden Что говорят
                            span.region-title-paint  о нас
                        .about-us-slider
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.

                    // partners
                    include ../mixins/partners

                    // callback form
                    include ../mixins/callback

        // footer
        include ../mixins/footer.pug

    script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript", src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript", src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(type="text/javascript", src="assets/js/app.js")
