extends ../base/layout

block content
        .region-banner.main-banner(style="background-image: url('assets/images/main/banner.png');")
            .content
                .content-title Построй свою мечту
                p.content-subtitle в новом доме
                a.button.button-white.button-modal(href="#")
                    span подробнее
                    i.icon.icon-arrow

        // about
        .main-about-wrapper
            .container
                .about.main-about
                    .cooperation_left.about_left
                        .about-title.about-line-deal.h1
                            div Дом №1- Первый дом
                        span.title_green.h1 европейского уровня
                        p.about-text
                            | Молчи, паскудная Европа и не «качай» свои права! Ты у РОССИИ — просто ж*,
                            | а думаешь, что голова.
                            br
                            | Тебе всегда, такой вальяжной, усмешечка кривила рот…
                            | Но разве сволочи продажной известен истины полет??? Измазав рыло в шоколаде, руля
                            | шикарный Мерседес — не знаешь ты: к какой «награде»
                            | Тебя подталкивает бес! Итак, рули пока рулится — пока в России смута прет…
                            | Но знай: беда уже стучится! Твой час последний глухо бьет… (Ф. И. Тютчев)

                        a.button.mobile-hidden(href="#")
                            span подробнее
                            i.icon.icon-arrow

                    .main-image-wrapper
                        .about-img-block
                        img.about-img(src="assets/images/main/about.png")

                    div
                        a.button.hidden.mobile-show(href="#")
                            span подробнее
                            i.icon.icon-arrow
        .main-background
            .container
                .for_developers_wrapper.main-wrapper
                    .about_company_wrapper

                        // gallery
                        .main-gallery
                            p.region-title выбирай
                                span.region-title-paint  только лучшее

                            .main-gallery-wrapper
                                a.main-gallery-item.new-building(href="#" style="background-image: url(assets/images/main/gallery-1.png)")
                                        .main-gallery-info
                                            .main-gallery-text Новое жилье

                                a.main-gallery-item.new-building.main-gallery-more(href="#" style="background-image: url(assets/images/main/gallery-2.png)")
                                        .main-gallery-more-text Смотреть подробнее
                                        .main-gallery-more-search-icon


                                a.main-gallery-item.new-building(href="#" style="background-image: url(assets/images/main/gallery-3.png)")
                                        .main-gallery-info
                                            .main-gallery-text Загородная недвижимость

                                a.main-gallery-item.new-building(href="#" style="background-image: url(assets/images/main/gallery-4.png)")
                                        .main-gallery-info
                                            .main-gallery-text Вторичное жилье

                                a.main-gallery-item.new-building(href="#" style="background-image: url(assets/images/main/gallery-5.png)")
                                        .main-gallery-info
                                            .main-gallery-text Земельные участки


                    // news
                    .news
                        p.region-title Наши
                            span.region-title-paint  новости
                        .news-slider
                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news1.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news3.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news2.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год

                            a.news-slider-item(href="#")
                                .news-slider-img(style="background-image:url(assets/images/main/news1.png)")
                                .news-slider-footer
                                    .news-slider-info
                                        p 22 мая - 2017
                                        p про Сингапур
                                    p.news-slider-description Лучшие здания мира за 2017 год


                    // about us
                    .about-us
                        p.region-title.tablet-hidden Что говорят
                            span.region-title-paint  о нас
                        .about-us-slider
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.
                            .about-us-slider-item
                                img.about-us-slider-avatar(src="assets/images/main/user_avatar.png")
                                h3.about-us-slider-title Александр Иванов
                                h4.about-us-slider-subtitle ООО “Консаддинг плюс”
                                p.about-us-slider-text
                                    | Экология: С экологией повезло, водохранилища очень близко.
                                    | Стоимость кв.м. : Цена вменяемая, как на мой взгляд.
                                    | Концепция и архитектура: Обычный дом - ничего выдающегося и ничего плохого.
                                    | Расположение и транспорт: Часто стою в пробках по пути в. Экология:
                                    | С экологией повезло, водохранилища очень близко.

                    // partners
                    include ../mixins/partners

                    // callback form
                    include ../mixins/callback
