doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(media="all", rel="stylesheet", href="assets/css/vendor.min.css")
    link(media="all", rel="stylesheet", href="assets/css/style.min.css")
  body
    include ../mixins/header.pug

    div.layout-content
      div.region_services
        div.for_developers_wrapper.servises_wrapper
          div.services
            div.cooperation_left.services_left
              div.services_title.services_line_deal
                div Сопровождение всех видов
              span.services_deal сделок с недвижимостью
              ul.services_list
                li.services_list_item Подбор объекта недвижимости;
                li.services_list_item Проверка юридической чистоты объекта;
                li.services_list_item Продажа объекта;
                li.services_list_item Подготовка документов по выбранному объекту для банка и регистрационной палаты;
              a.button_more(href="#") подробнее
            div.cooperation_right.services_right
              div.servises_image_block
              img.services_img(src="assets/images/servises/servises_img_1.png")
          div.services
            div.cooperation_left.services_left.order_two
              div.services_title.services_line_approval
                div Одобрение
              span.services_deal.services_subtitle  ипотеки
              ul.services_list
                li.services_list_item Проверка кредитной истории;
                li.services_list_item Одобрение ипотечной заявки;
                li.services_list_item Согласование выгодных ипотечных условий кредитования;
                li.services_list_item Расчёт ежемесячного платежа по кредиту и дополнительных расходов;
                li.services_list_item Одобрение выбранного объекта в банке;
                li.services_list_item Ипотека без первоначального взноса;
                li.services_list_item Ипотека + материнский капитал.
              a.button_more(href="#") подробнее
            div.cooperation_right.services_right
              div.servises_image_block
                img.services_img_approval(src="assets/images/servises/servises_img_2.png")
          div.services
            div.cooperation_left.services_left
              div.services_title.services_line_insurance
                div Страховые
              span услуги
              ul.services_list
                li.services_list_item Ипотечное страхование;
                li.services_list_item Страхование жизни и здоровья заёмщика;
                li.services_list_item Страхование объекта залога;
                li.services_list_item Страхование титула;
                li.services_list_item Прочие виды страхования, не связанные с ипотекой.
              a.button_more(href="#") подробнее
            div.cooperation_right.services_right
              div.servises_image_block
                img.services_img_insurance(src="assets/images/servises/servises_img_3.png")
          div.services
            div.cooperation_left.services_left.order_two
              div.services_title.line_serveces
                div услуги
              span.services_subtitle застройщикам
              ul.services_list
                li.services_list_item Аккредитация застройщиков в банке. Расшифровка: подготовка пакета документов для банков-партнёров на предмет ипотечного кредитования розничных клиентов застройщика;
                li.services_list_item Организация отдела продаж на объекте.
              a.button_more(href="#") подробнее
            div.cooperation_right.services_right
                div.servises_image_block
                  img.services_img_developers(src="assets/images/servises/servises_img_4.png")
          div.services
            div.cooperation_left.services_left
              div.services_title.services_line_property
                div продажа
              span недвижимости
              ul.services_list
                li.services_list_item Обмен базой объектов недвижимости
                li.services_list_item Одобрение ипотечных кредитов
              a.button_more(href="#") подробнее
            div.cooperation_right.services_right
              div.servises_image_block
                img.services_img_insurance(src="assets/images/servises/servises_img_5.png")


        include ../mixins/footer.pug
