.pagination-items {
    font-size: 12px;
    line-height: 30px;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    color: #27AE60;
    border-left: 1px solid;
}
