.boximage {
  position: relative;
  margin-right: 69px;
  margin-top: 30px;

  &_border {
    width: 423px;
    height: 339px;
    border: solid 2px #e2e2e2;
    position: relative;
  }

  &_block {
    position: absolute;
    top: -23px;
    left: 27px;
    z-index: 2;
  }

  &.left, &.right {
    .boximage_block { top: 28px; }
  }

  &.left .boximage_block {
    left: 27px;
  }

  &.right {
    margin-left: 69px;
    .boximage_block {
      right: 33px;
      left: auto;
    }
  }
}

@media (max-width: 1180px) {
  .boximage {
    margin-top: 0;
    margin-right: 20px;

    &_block {
      width: 260px;
      height: 186px;
      top: 15px;
      left: 15px;
    }

    &_border {
      width: 255px;
      height: 172px;
    }

    &.left, &.right {
      .boximage_block { top: 15px; }
    }

    &.right {
      margin-left: 20px;
      margin-right: 0;
      .boximage_block {
        right: 15px;
      }
    }

    &.left .boximage_block {
      left: 15px;
    }

    &.left {
      margin-right: 20px;
      margin-left: 0;
    }
  }
}
