div.callback.tablet-hidden
    p.callback-question Не нашли что искали?
        form.callback-form(name="callback" class="callback-form")
            button.button-callback(type="submit") заявка на звонок
            input.callback-search(type="text", placeholder="Поиск", name="callback")
