div.callback.tablet-hidden
    p.callback-question Не нашли что искали?
        form.callback-form(name="callback" class="callback-form")
            a.button_callback.js-button_modal(role="button") заявка на звонок
            .callback-search-wrapper
                input.callback-search(type="text", placeholder="Поиск", name="callback")
            button(type="submit", style="display: none;")
