div.callback
    div.callback_left
        p.callback_question Не нашли что искали?
        a.button_callback(href="#") заявка на звонок
    div.callback_right
        form.callback_form(name="callback")
            input.callback_search(type="text", placeholder="Поиск", name="callback")