div.layout-footer
  .container
    div.region_footer
      .footer
        div.footer_column_one
          div.footer_logo
            a.footer_logo_link(href="#")
              img.footer_logo_img(src="assets/images/logo.png", alt="Footer logo")
          a.footer_about_us(href="#") Информация о нашей компании

          ul.footer_info
            li.footer_info_nav
              a.footer_adress(href="#") Мытищи. Олимпийский проспект, строение 10. Бизнес-центр Альта. Офис 1201
                i.icon.icon-location

            li.footer_info_nav
              a.footer_phone(href="#") +7 (495) 249-90-40
                i.icon.icon-phone

            li.footer_info_nav
              a.footer_email(href="#") sales@miid-realty.ru
                i.icon.icon-mail

        div.footer_navigation
          div.footer_columns
            .wrapper_project_sale
              div.footer_column_two
                h3
                  a.footer_pro(href="#") ПРОЕКТЫ
                ul.footer_projects
                  li.footer_projects_nav
                    a.footer_our_pro.footer_menu_item(href="#") Наши проекты
                  li.footer_projects_nav
                    a.footer_best.footer_menu_item(href="#") Лучшее
                  li.footer_projects_nav
                    a.footer_news.footer_menu_item(href="#") Новости
                  li.footer_projects_nav
                    a.footer_reviews.footer_menu_item(href="#") Отзывы
                  li.footer_projects_nav
                    a.footer_partners.footer_menu_item(href="#") Партнеры
              div.footer_column_tree
                h3
                  a.footer_sale_item(href="#") ПРОДАЖА
                ul.footer_sale
                  li.footer_sale_nav
                    a.footer_new_housing.footer_menu_item(href="#") Новое жилье
                  li.footer_sale_nav
                    a.footer_secondary_housing.footer_menu_item(href="#") Вторичное жилье
                  li.footer_sale_nav
                    a.footer_commercial.footer_menu_item(href="#") Комерческая недвижимость
                  li.footer_sale_nav
                    a.footer_country_estate.footer_menu_item(href="#") Загородная недвижимость
                  li.footer_sale_nav
                    a.footer_ground.footer_menu_item(href="#") Земельные участки
            div.footer_column_four
              h3
                a.footer_cont(href="#") КОНТАКТЫ
              ul.footer_info.footer_info_contacts
                li.footer_info_nav
                  a.footer_adress(href="#") Мытищи. Олимпийский проспект, строение 10. Бизнес-центр Альта. Офис 1201
                    i.icon.icon-location

                li.footer_info_nav
                  a.footer_phone(href="#") +7 (495) 249-90-40
                    i.icon.icon-phone

                li.footer_info_nav
                  a.footer_email(href="#") sales@miid-realty.ru
                    i.icon.icon-mail
              ul.footer_contacts
                li.footer_contacts_nav
                  a.footer_vk.footer_social(href="#") Фейсбук
                    i.icon.icon-fb
                li.footer_contacts_nav
                  a.footer_fb.footer_social(href="#") Вконтакте
                    i.icon.icon-vk
                li.footer_contacts_nav
                  a.footer_tw.footer_social(href="#") Твиттер
                    i.icon.icon-tw
                li.footer_contacts_nav
                  a.footer_ok.footer_social(href="#") Одноклассники
                    i.icon.icon-od

          div.footer_buttons
            a.feedback.footer_button(href="#")
              i.icon-messag.icon
              | Обратная связь
            a.footer_see.footer_button(href="#")
              include ../../images/svg/location.svg
              | Смотреть карту

    a(href="#").site-create Сайт создан веб-студией Ancient
