div.layout_footer
  div.region_footer
    div.footer_column_one
      div.footer_logo
        a.footer_logo_link(href="#")
          img.footer_logo_img(src="assets/images/logo.png", alt="Footer logo")
      a.footer_about_us(href="#") Информация о нашей компании
      ul.footer_info
        li.footer_info_nav
          a.footer_adress(href="#") Район Мытищи. Олимпийский проспект, строение 10. Бизнес-центр Альта. Офис 1201
            img.footer_adress_img(src="assets/images/Vector.png")
        li.footer_info_nav
          a.footer_phone(href="#") +7 (495) 249-90-40
            img.footer_phone_img(src="assets/images/phone.png")
        li.footer_info_nav
          a.footer_email(href="#") sales@miid-realty.ru
            img.footer_email_img(src="assets/images/mail.png")
    div.footer_navigation
      div.footer_columns
        div.footer_column_two
          h3
            a.footer_pro(href="#") ПРОЕКТЫ
          ul.footer_projects
            li.footer_projects_nav
              a.footer_our_pro.footer_menu_item(href="#") Наши проекты
            li.footer_projects_nav
              a.footer_best.footer_menu_item(href="#") Лучшее
            li.footer_projects_nav
              a.footer_news.footer_menu_item(href="#") Новости
            li.footer_projects_nav
              a.footer_reviews.footer_menu_item(href="#") Отзывы
            li.footer_projects_nav
              a.footer_partners.footer_menu_item(href="#") Партнеры
        div.footer_column_tree
          h3
            a.footer_sale_item(href="#") ПРОДАЖА
          ul.footer_sale
            li.footer_sale_nav
              a.footer_new_housing.footer_menu_item(href="#") Новое жилье
            li.footer_sale_nav
              a.footer_secondary_housing.footer_menu_item(href="#") Вторичное жилье
            li.footer_sale_nav
              a.footer_commercial.footer_menu_item(href="#") Комерческая недвижимость
            li.footer_sale_nav
              a.footer_country_estate.footer_menu_item(href="#") Загородная недвижимость
            li.footer_sale_nav
              a.footer_ground.footer_menu_item(href="#") Земельные участки
        div.footer_column_four
          h3
            a.footer_cont(href="#") КОНТАКТЫ
          ul.footer_contacts
            li.footer_contacts_nav
              a.footer_vk.footer_social(href="#") Фейсбук
                img.footer_vk_img(src="assets/images/vk.png")
            li.footer_contacts_nav
              a.footer_fb.footer_social(href="#") Вконтакте
                img.footer_fb_img(src="assets/images/fb.png")
            li.footer_contacts_nav
              a.footer_tw.footer_social(href="#") Твиттер
                img.footer_tw_img(src="assets/images/tw.png")
            li.footer_contacts_nav
              a.footer_ok.footer_social(href="#") Одноклассники
                img.footer_ok_img(src="assets/images/ok.png")
      div.footer_buttons
        a.feedback.footer_button(href="#") Обратная связь
        a.footer_see.footer_button(href="#") Смотреть карту
