.interested
  .interested_title: .container Вам также могут показаться интересными
  .interested_container.dragscroll
    a(href="#").interested_item
      img(src="assets/images/catalog/item.jpg" alt="")
      div
        span Участок 11 сот. (ИЖС)
        span.green 150 000 руб.
    a(href="#").interested_item
      img(src="assets/images/catalog/item.jpg" alt="")
      div
        span Участок 11 сот. (ИЖС)
        span.green 150 000 руб.
    a(href="#").interested_item
      img(src="assets/images/catalog/item.jpg" alt="")
      div
        span Участок 11 сот. (ИЖС)
        span.green 150 000 руб.

    a(href="#").interested_item
      img(src="assets/images/catalog/item.jpg" alt="")
      div
        span Участок 11 сот. (ИЖС)
        span.green 150 000 руб.

    a(href="#").interested_item
      img(src="assets/images/catalog/item.jpg" alt="")
      div
        span Участок 11 сот. (ИЖС)
        span.green 150 000 руб.
