.pagination
    a(href='#').pagination-arrow.pagination-arrow-disable

    .pagination-group
        a(href='#').pagination-items 1
        a(href='#').pagination-items 2
        a(href='#').pagination-items.pagination-items_active 3
        a(href='#').pagination-items 4

    .pagination-dots ...
    .pagination-group
        a(href='#').pagination-items 16

    a(href='#').pagination-arrow.pagination-arrow-right
