div.partners
    img.partners_images(src="assets/images/for_developers/partner_logo.png", alt="partner logo")
    img.partners_images(src="assets/images/for_developers/partner_logo_2.png", alt="partner logo")
    img.partners_images(src="assets/images/for_developers/partner_logo.png", alt="partner logo")
    img.partners_images(src="assets/images/for_developers/partner_logo_2.png", alt="partner logo")