.button {
  position: relative;
  padding: 12px 31px 13px 34px;
  border: solid black 1px;
  color: black;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;

  .icon {
    font-size: 23px;
    margin-left: 27px;
  }

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
