.button {
  position: relative;
  padding: 12px 31px 13px 34px;
  border: solid black 1px;
  color: black;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  transition-duration: .3s;

  .icon {
    font-size: 23px;
    margin-left: 27px;
  }

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }

  &_green {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #27AE60;
    width: 100%;
    max-width: 180px;
    height: 60px;
    line-height: 60px;
    border: 0;

    &:hover {
      background: (#27AE60 - #111);
    }

    &:active {
      background: (#27AE60 - #222);
    }

  }
}
