div.layout_footer
  div.region_footer
    div.footer_column_one
      ul.footer_info
        li.footer_info_nav
          a.footer_logo(href="#")
        li.footer_info_nav
          a.footer_about_us(href="#") Информация о нашей компании
        li.footer_info_nav
          a.footer_adress(href="#") Район Мытищи. Олимпийский проспект, строение 10. Бизнес-центр Альта. Офис 1201
        li.footer_info_nav
          a.footer_phone(href="#") +7 (495) 249-90-40
        li.footer_info_nav
          a.footer_email(href="#") sales@miid-realty.ru
    div.footer_column_two
      ul.footer_projects
        li.footer_projects_nav
          a.footer_pro(href="#") ПРОЕКТЫ
        li.footer_projects_nav
          a.footer_our_pro.footer_menu_item(href="#") Наши проекты
        li.footer_projects_nav
          a.footer_best.footer_menu_item(href="#") Лучшее
        li.footer_projects_nav
          a.footer_news.footer_menu_item(href="#") Новости
        li.footer_projects_nav
          a.footer_reviews.footer_menu_item(href="#") Отзывы
        li.footer_projects_nav
          a.footer_partners.footer_menu_item(href="#") Партнеры
        li.footer_projects_nav
          a.feedback.footer_button(href="#") Обратная связь
    div.footer_column_tree
      ul.footer_sale
        li.footer_sale_nav
          a.footer_sale_item(href="#") ПРОДАЖА
        li.footer_sale_nav
          a.footer_new_housing.footer_menu_item(href="#") Новое жилье
        li.footer_sale_nav
          a.footer_secondary_housing.footer_menu_item(href="#") Вторичное жилье
        li.footer_sale_nav
          a.footer_commercial.footer_menu_item(href="#") Комерческая недвижимость
        li.footer_sale_nav
          a.footer_country_estate.footer_menu_item(href="#") Загородная недвижимость
        li.footer_sale_nav
          a.footer_ground.footer_menu_item(href="#") Земельные участки
        li.footer_sale_nav
          a.footer_see.footer_button(href="#") Смотреть карту
    div.footer_column_four
      ul.footer_contacts
        li.footer_contacts_nav
          a.footer_cont(href="#") КОНТАКТЫ
        li.footer_contacts_nav
          a.footer_vk.footer_social(href="#") Фейсбук
        li.footer_contacts_nav
          a.footer_fb.footer_social(href="#") Вконтакте
        li.footer_contacts_nav
          a.footer_tw.footer_social(href="#") Твиттер
        li.footer_contacts_nav
          a.footer_ok.footer_social(href="#") Одноклассники
